.sidebar {
    width: var(--width-sidebar);
    padding-top: var(--padd-1);
    padding-left: var(--padd-1);
    padding-bottom: var(--padd-1);
}
.inner-sidebar {
    position: relative;
    padding: 8px;
    height: 100%;
    background-color: var(--color-5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}
.profile {
    margin-top: 35px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .photo-profile {
        padding: 3px;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: var(--color-1);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
}
    }
    label {
        margin-top: 10px;
        color: var(--color-2);
        font-size: 1.1em;
    }
}
.find-me {
    margin-top: 10px;
    overflow: auto;
}
.social-media {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
}
.items {
    padding: 0 12px;
    width: 100%;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    a {
        text-decoration: none;
        display: grid;
        grid-template-columns: 45px 1fr;
        align-items: center;
    }
    img {
        height: 30px;
        height: 30px;
    }
    h4 {
        color: var(--color-4);
        font-size: 12pt;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.items:hover {
    background-color: var(--color-6);
    opacity: 50%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.position {
    width: min-content;
    margin: 0 auto;
}
@media (max-width: 480px) {
    .sidebar {
        width: 100%;
        padding: 0;
        height: var(--height-sidebar);
    }
    .inner-sidebar {
        border-radius: 0 0 13px 13px;
        -webkit-border-radius: 0 0 13px 13px;
        -moz-border-radius: 0 0 13px 13px;
        -ms-border-radius: 0 0 13px 13px;
        -o-border-radius: 0 0 13px 13px;
    }
    .social-media {
        flex-direction: row;
        height: min-content;
    }
    .items {
        a {
            display: flex;
            justify-content: center;
        }
        h4 {
            display: none;
        }
    }
}
